<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>창연에게 인터넷 편지 보내기!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('static/background.png'); background-position: center; background-size: 100%;">

<main role="main" class="flex-shrink-0">

    <form action="/" method="post">
        <div class="container" >
            <h1 class="mt-5" style="color: #000000">창연에게 따듯한 한마디.</h1>

            <div class="container">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">제목</span>
                    </div>
                    <input type="text" class="form-control" placeholder="제목을 써 주세요" aria-label="Username"
                           aria-describedby="basic-addon1" name="title">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">이름</span>
                    </div>
                    <input type="text" class="form-control" placeholder="이름을 써 주세요" aria-label="Username"
                           aria-describedby="basic-addon1" name="name">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">내용</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" rows="20"
                              placeholder="내용을 써 주세요" name="content"></textarea>
                </div>

                <br>

                <div class="btn-group float-right">
                    <input class="btn btn-primary" type="submit">
                </div>

            </div>
        </div>

    </form>
</main>


<!--<main role="main" class="flex-shrink-0">-->


<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text">$</span>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">-->
<!--        <div class="input-group-append">-->
<!--            <span class="input-group-text">.00</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="input-group">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text">With textarea</span>-->
<!--        </div>-->
<!--        <textarea class="form-control" aria-label="With textarea"></textarea>-->
<!--    </div>-->
<!--</div>-->
<!--</main>-->
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
